<!-- table -->
<div class="table-section pt-80 pb-80">
	<div class="container">
		<div class="row">
			<div class="table-reponsive box">
				<div class="table-responsive-content">
					<h2>Current Market</h2>
					<span>+0.36%</span>
					<p>Market up in the last 24 hours</p>
				</div>
				<table id="example" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th id="all_token">All Tokens</th>
							<th id="avaiable">Available</th>
							<th id="gainers">Gainers</th>
							<th id=losers>Losers</th>
							<th id=date>T. Supply</th>
							<th>24H Volume</th>
						</tr>
					</thead>
					<tbody>
						<tr class="single">
							<td> <img src="assets/images/new/01.png" alt=""> Bitcoin <span>BTC</span></td>
							<td>$53,967.089</td>
							<td><img src="assets/images/new/0.png" alt=""> 5.43%</td>
							<td>$93,967,200.89</td>
							<td>21M</td>
							<td>$93,967,200.30</td>
						</tr>
						<tr class="one">
							<td> <img src="assets/images/new/2.png" alt=""> Ethereum <span>ETH</span></td>
							<td>$46967.000</td>
							<td><img src="assets/images/new/3.png" alt=""> 0.23%</td>
							<td>$43,9656200.00</td>
							<td>0.5M</td>
							<td>$67,967,200.00</td>
						</tr>
						<tr class="double">
							<td> <img src="assets/images/new/4.png" alt=""> Tether <span>THR</span></td>
							<td>$53,967.089</td>
							<td><img src="assets/images/new/0.png" alt=""> 6.96%</td>
							<td>$56,089.200</td>
							<td>36M</td>
							<td>$93,967,200.30</td>
						</tr>
						<tr class="one">
							<td> <img src="assets/images/new/5.png" alt=""> Binance Coin <span>BNC</span></td>
							<td>$46967.000</td>
							<td><img src="assets/images/new/3.png" alt=""> 1.90%</td>
							<td>$43,9656200.00</td>
							<td>1.9M</td>
							<td>$56,089.200</td>
						</tr>
						<tr class="triple">
							<td> <img src="assets/images/new/4.png" alt=""> Solana <span>SOL</span></td>
							<td>$29,456.09</td>
							<td><img src="assets/images/new/0.png" alt=""> 5.43%</td>
							<td>$93,967,200.89</td>
							<td>27M</td>
							<td>$46,967.30</td>
						</tr>
						<tr class="one">
							<td> <img src="assets/images/new/5.png" alt=""> Binance Coin <span>BNC</span></td>
							<td>$46967.000</td>
							<td><img src="assets/images/new/3.png" alt=""> 1.90%</td>
							<td>$43,9656200.00</td>
							<td>1.9M</td>
							<td>$56,089.200</td>
						</tr>
						<tr class="triple">
							<td> <img src="assets/images/new/8.png" alt=""> Dogecoin<span>DOGE</span></td>
							<td>$53,967.089</td>
							<td><img src="assets/images/new/0.png" alt=""> 5.43%</td>
							<td>$56,089.200</td>
							<td>23M</td>
							<td>$93,967,200.30</td>
						</tr>
						<tr class="one">
							<td> <img src="assets/images/new/01.png" alt=""> Bitcoin <span>BTC</span></td>
							<td>$53,967.089</td>
							<td><img src="assets/images/new/3.png" alt=""> 5.43%</td>
							<td>$93,967,200.89</td>
							<td>21M</td>
							<td>$93,967,200.30</td>
						</tr>
						<tr class="two">
							<td> <img src="assets/images/new/2.png" alt=""> Bitcoin <span>BTC</span></td>
							<td>$53,967.089</td>
							<td><img src="assets/images/new/0.png" alt=""> 5.43%</td>
							<td>$93,967,200.89</td>
							<td>21M</td>
							<td>$93,967,200.30</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>