<!-- about section -->
<div class="about-section style-three pt-100 pb-50">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="dreamit-section-title two text-center pb-20">
					<div class="dreamit-section-sub-title">
						<h5> <img src="assets/images/new/title-img.png" alt="">  About ICO</h5>
					</div>
					<div class="dreamit-section-main-title">
						<h1>About Crypto ICO</h1>
					</div>
					<div class="dreamit-section-content-text">
						<p>Monotonectally productivate virtual benefits vis-a-vis clicks
						ship. Seamlessly generate user friendly</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-30 align-items-center">
			<div class="col-lg-6 col-md-6">
				<div class="about-box">
					<div class="about-thumb">
						<img src="assets/images/new/about.png" alt="">
						<div class="about-shape">
							<img src="assets/images/new/about-shape.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="about-single-icon-box d-flex">
					<div class="about-icon-thumb">
						<img src="assets/images/new/icon.png" alt="">
					</div>
					<div class="about-content">
						<h2>Money Exchange</h2>
						<p>Continually pontificate corporate deliverables through 
						clicks-and-mortar intellectual.</p>
					</div>
				</div>
				<div class="about-single-icon-box d-flex">
					<div class="about-icon-thumb">
						<img src="assets/images/new/icon2.png" alt="">
					</div>
					<div class="about-content">
						<h2>Balance Transfer</h2>
						<p>Continually pontificate corporate deliverables through 
						clicks-and-mortar intellectual.</p>
					</div>
				</div>
				<div class="about-single-icon-box d-flex">
					<div class="about-icon-thumb">
						<img src="assets/images/new/icon3.png" alt="">
					</div>
					<div class="about-content">
						<h2>Balance Transfer</h2>
						<p>Continually pontificate corporate deliverables through 
						clicks-and-mortar intellectual.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="about-shape-one bounce-animate2">
			<img src="assets/images/new/round.png" alt="">
		</div>
	</div>
</div>