<!-- graph section -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>
<div class="graph-section style-three pb-100">
	<div class="container">
		<div class="row upper14">
			<div class="col-lg-9">
				<div class="dreamit-section-title  pb-20">
					<div class="dreamit-section-main-title">
						<h1>1 CNL = 0.0013 BTC</h1>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="right-side-graph-btn">
					<a href="#">Buy Now</a>
				</div>
			</div>
		</div>
		<div class="row upper15  pt-20">
			<div class="col-lg-6 col-md-12">
				<div class="single-chart">
					<canvas id="myChart" width="500" height="500"></canvas>
					<div class="row">
						<div class="col-lg-6">
							<div class="chart-menu">
								<ul>
									<li class="another1"> <span>12%</span>Reserved Funding</li>
									<li class="another2"> <span>8%</span>Product Development</li>
									<li class="another3"> <span>40%</span>Bounty Campaign</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="chart-menu">
								<ul>
									<li class="another4"> <span>40%</span>Bounty Campaign</li>
									<li class="another5"> <span>20%</span>Reserved Funding</li>
									<li class="another6"> <span>15%</span>Bounty Campaign</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="shape12">
						<img src="assets/images/shape1.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="single-chart-two">
					<canvas id="yourChart" width="350" height="350"></canvas>
					<div class="row upper13">
						<div class="col-lg-6">
							<div class="chart-menu">
								<ul>
									<li class="another1"> <span>12%</span>Reserved Funding</li>
									<li class="another2"> <span>8%</span>Product Development</li>
									<li class="another3"> <span>40%</span>Bounty Campaign</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="chart-menu">
								<ul>
									<li class="another4"> <span>40%</span>Bounty Campaign</li>
									<li class="another5"> <span>20%</span>Reserved Funding</li>
									<li class="another6"> <span>15%</span>Bounty Campaign</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="shape13">
						<img src="assets/images/shape2.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>