<!-- call section -->
<div class="call-section pt-100 pb-120">
	<div class="container">
		<div class="row section">
			<div class="col-lg-6 col-md-6">
				<div class="single-call-content">
					<div class="call-title">
						<h2>Also available on IOS<br> and Android</h2>
					</div>
					<div class="call-content-text">
						<p>Completely whiteboard robust interfaces without multidiscipli has to
							manufactured products. Progressively myocardinate cooperat crypt
						technologies through principle-</p>
					</div>
					<span><img src="assets/images/new/shape4.png" alt=""></span>
					<span class="more"><img src="assets/images/new/shape3.png" alt=""></span>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="call-shape bounce-animate2">
					<img src="assets/images/new/phone.png" alt="">
				</div>
				<div class="call-shape2 wooo">
					<img src="assets/images/new/shape2.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
