<!-- feature section -->
<div class="feature-section pt-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-feature-box">
					<div class="feature-thumb">
						<img src="assets/images/new/bit.png" alt="">
					</div>
					<div class="feature-content">
						<span>Bitcoin</span>
						<h3>USD 90,360.50</h3>
						<p>BTC</p>
					</div>
					<div class="shape">
						<img src="assets/images/new/back.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-feature-box">
					<div class="feature-thumb">
						<img src="assets/images/new/bit2.png" alt="">
					</div>
					<div class="feature-content">
						<span>Ethereum</span>
						<h3>USD 630.00</h3>
						<p>ETH</p>
					</div>
					<div class="shape">
						<img src="assets/images/new/back2.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-feature-box">
					<div class="feature-thumb">
						<img src="assets/images/new/bit3.png" alt="">
					</div>
					<div class="feature-content">
						<span>Tether</span>
						<h3>USD 299.08</h3>
						<p>THR</p>
					</div>
					<div class="shape">
						<img src="assets/images/new/back3.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>