<!-- team section -->
<div class="team-section style-four pt-110 pb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="dreamit-section-title two text-center pb-20">
					<div class="dreamit-section-sub-title">
						<h5> <img src="assets/images/new/title-img.png" alt="">  Ours Team</h5>
					</div>
					<div class="dreamit-section-main-title">
						<h1>Met our Team Players</h1>
					</div>
					<div class="dreamit-section-content-text">
						<p>Monotonectally productivate virtual benefits vis-a-vis clicks
						ship. Seamlessly generate user friendly</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-30">
			<div class="col-lg-3 col-md-6">
				<div class="single-team-box-two">
					<div class="single-team-thumb">
						<img src="assets/images/new/team.png" alt="">
					</div>
					<div class="single-team-content">
						<h3>Nicole Gerling</h3>
						<span>Head of Marketing</span>
						<div class="single-team-social-icon">
							<ul>
								<li class="first" ><a href="#"><i class="far fa-envelope"></i> </a>Email</li>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-team-box-two">
					<div class="single-team-thumb">
						<img src="assets/images/new/team4.png" alt="">
					</div>
					<div class="single-team-content">
						<h3>John Abraham</h3>
						<span>HR manager</span>
						<div class="single-team-social-icon">
							<ul>
								<li class="first" ><a href="#"><i class="far fa-envelope"></i> </a>Email</li>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-team-box-two">
					<div class="single-team-thumb">
						<img src="assets/images/new/team3.png" alt="">
					</div>
					<div class="single-team-content">
						<h3>Samuel Mariles</h3>
						<span>Coin Marketer</span>
						<div class="single-team-social-icon">
							<ul>
								<li class="first" ><a href="#"><i class="far fa-envelope"></i> </a>Email</li>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-team-box-two">
					<div class="single-team-thumb">
						<img src="assets/images/new/team2.png" alt="">
					</div>
					<div class="single-team-content">
						<h3>Jakulin Farna</h3>
						<span>Head of Marketing</span>
						<div class="single-team-social-icon">
							<ul>
								<li class="first" ><a href="#"><i class="far fa-envelope"></i> </a>Email</li>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="team-inner-box text-center pt-50">
					<div class="team-inner-thumb">
						<img src="assets/images/team/btn.png" alt="">
					</div>
					<div class="inner-btn">
						<a href="#">More Member <i class="flaticon-arrow-pointing-to-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
