<!-- <app-header></app-header>
<app-mobile-menu></app-mobile-menu>
<app-carousel-slider></app-carousel-slider>
<app-feature></app-feature>
<app-about-section></app-about-section>
<app-token-section></app-token-section>
<app-service-section></app-service-section>
<app-service-section-one></app-service-section-one>
<app-table-section></app-table-section>
<app-road-map-section></app-road-map-section>
<app-graph-section></app-graph-section>
<app-call-section></app-call-section>
<app-team-section></app-team-section>
<app-faq-section></app-faq-section>
<app-blog-section></app-blog-section>
<app-contact-section></app-contact-section>
<app-sidebar></app-sidebar>
<app-footer-to-top></app-footer-to-top>
<app-footer></app-footer> -->
<router-outlet></router-outlet>