<!-- start blog section -->
<div class="blog-section style-two pt-95 pb-50">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="dreamit-section-title two text-center pb-20">
					<div class="dreamit-section-sub-title">
						<h5> <img src="assets/images/new/title-img.png" alt="">  Latest News</h5>
					</div>
					<div class="dreamit-section-main-title">
						<h1>Recent Blog Post</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-30">
			<div class="col-lg-4 col-md-6">
				<div class="single-blog-box">
					<div class="blog-thumb">
						<img src="assets/images/new/blog3.png" alt="">
					</div>
					<div class="blog-content">
						<div class="meta-box">
							<div class="meta-icon">
								<i class="fas fa-calculator"></i>
							</div>
							<div class="meta-date">
								<p>10 jan 2022</p>
							</div>
						</div>
						<div class="blog-title">
							<a href="blog-details.html"><h2>Cryptocash is a clean & modern coin</h2></a>
						</div>
						<div class="blog-content-text">
							<p>Monotonectally fabricate extensible in the
								after of ours business experiences</p>
						</div>
						<div class="blog-btn">
							<a href="#">Read More <i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-blog-box">
					<div class="blog-thumb">
						<img src="assets/images/new/blog2.jpg" alt="">
					</div>
					<div class="blog-content">
						<div class="meta-box">
							<div class="meta-icon">
								<i class="fas fa-calculator"></i>
							</div>
							<div class="meta-date">
								<p>10 Feb 2022</p>
							</div>
						</div>
						<div class="blog-title">
							<a href="blog-details.html"><h2>How & Where To Market Your ICO</h2></a>
						</div>
						<div class="blog-content-text">
							<p>Monotonectally fabricate extensible in the
								after of ours business experiences</p>
						</div>
						<div class="blog-btn">
							<a href="#">Read More <i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-blog-box">
					<div class="blog-thumb">
						<img src="assets/images/new/blog.png" alt="">
					</div>
					<div class="blog-content">
						<div class="meta-box">
							<div class="meta-icon">
								<i class="fas fa-calculator"></i>
							</div>
							<div class="meta-date">
								<p>10 Mar 2022</p>
							</div>
						</div>
						<div class="blog-title">
							<a href="blog-details.html"><h2>Pros & Cons of Premined Crypto</h2></a>
						</div>
						<div class="blog-content-text">
							<p>Monotonectally fabricate extensible in the
								after of ours business experiences</p>
						</div>
						<div class="blog-btn">
							<a href="#">Read More <i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>