<!-- faq section -->
<div class="faq-section style-four pt-100 pb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="dreamit-section-title two text-center pb-20">
					<div class="dreamit-section-sub-title">
						<h5> <img src="assets/images/new/title-img.png" alt="">  FAQS</h5>
					</div>
					<div class="dreamit-section-main-title">
						<h1>Frequently asked Question</h1>
					</div>
					<div class="dreamit-section-content-text">
						<p>Monotonectally productivate virtual benefits vis-a-vis clicks
						ship. Seamlessly generate user friendly</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-25">
			<div class="col-lg-12">
				<div class="tab-content text-center">
					<ul class="tabs">
						<li class="active" rel="tab1">General </li>
						<li rel="tab2"> Token  </li>
						<li rel="tab3">  Client </li>
						<li rel="tab4"> Pre ICO</li>
						<li rel="tab5"> Legal</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row align-items-center pt-20">
			<div class="col-lg-6 col-md-12">
				<div class="tab_container">
					<h3 class="d_active tab_drawer_heading" rel="tab1">Tab 1</h3>
					<div id="tab1" class="tab_content">
						<ul class="accordion">
							<li>
								<a>What is ICO</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
							<li>
								<a>How can I participate in the ICO Token sale?</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
							<li>
								<a>What cryptocurrencies can I use to purchase?</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled obcaecati magni ullam nobis voluptas fugiat tenetur voluptatum quas tempora maxime</p>
							</li>
							<li>
								<a>What cryptocurrencies can I use to purchase?</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled </p>
							</li>
						</ul>
					</div>
					<!-- #tab1 -->
					<h3 class="tab_drawer_heading" rel="tab2"> Token  </h3>
					<div id="tab2" class="tab_content">
						<ul class="accordion">
							<li>
								<a>What cryptocurrencies can I use to purchase?</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
							<li>
								<a>How can I participate in the ICO Token sale?</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
							<li>
								<a>Dolor sit Amet</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled </p>
							</li>
							<li>
								<a>Dolor sit Amet</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
						</ul>
					</div>
					<!-- #tab2 -->
					<h3 class="tab_drawer_heading" rel="tab3">  Client </h3>
					<div id="tab3" class="tab_content">

						<ul class="accordion">
							<li>
								<a>What is ICO</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
							<li>
								<a>Repellat Odit Aliquid</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled </p>
							</li>
							<li>
								<a>Dolor sit Amet</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled </p>
							</li>
							<li>
								<a>Dolor sit Amet</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
						</ul>
					</div>
					<!-- #tab3 -->
					<h3 class="tab_drawer_heading" rel="tab4"> Pre ICO</h3>
					<div id="tab4" class="tab_content">

						<ul class="accordion">
							<li>

								<a>What is ICO</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
							<li>
								<a>Repellat Odit Aliquid</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
							<li>
								<a>Dolor sit Amet</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
							<li>
								<a>Dolor sit Amet</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
						</ul>
					</div>
					<!-- #tab3 -->
					<h3 class="tab_drawer_heading" rel="tab5"> Legal</h3>
					<div id="tab5" class="tab_content">
						<ul class="accordion">
							<li>
								<a>What is ICO</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
							<li>
								<a>Repellat Odit Aliquid</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
							<li>
								<a>Dolor sit Amet</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
							<li>
								<a>Dolor sit Amet</a>
								<p>Holisticly coordinate highes standards in communities rather than cute
									ures. Distinctivelys supply highly efficients networks for integrated fors
								vize adaptive value through enabled</p>
							</li>
						</ul>
					</div>
					<!-- #tab4 --> 
				</div>
				<!-- .tab_container -->
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="faq-thumb">
					<img src="assets/images/faq.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>